.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-title {
  font-family: Arial, sans-serfi;
  margin: 0;
  color: #a19191;
}

.card-text {
  font-family: Arial, sans-serfi;
  color: gray;
}

.button2 {
  background-color: rgb(1, 59, 57);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.student {
  font-family: Arial, sans-serfi;
  font-size: 2rem;
  padding: 10px;
  border: 1px solid rgb(0, 11, 11);
}

.student p {
  margin: 0;
}

.welcome-message {
  font-family: Arial, sans-serfi;
  font-size: 2.5rem;
  padding: 10px;
  color: white;
  background-color: rgb(3, 189, 28);
  border-radius: 5px;
}

.login-propmt {
  font-family: Arial, sans-serfi;
  font-size: 2.5rem;
  padding: 10px;
  color: white;
  background-color: rgb(189, 3, 3);
  border-radius: 5px;
}
